<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Workbench Ink Comparison" android:allowBackup="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:supportsRtl="true">
        <activity android:name=".StrokeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
